'scopeName': 'source.mi'  
'name': 'Measure Instruction'  
'fileTypes': ['mi']  
'patterns': [  
  {
    'match': '^(MEASURE|NUMERATOR_REASON|DENOMINATOR|FAILURE_REASON|RESULT)'
    'name': 'constant language'
  },
  {
    'match': '(^|\\w)(AND|OR)'
    'name': 'keyword'
  },
  {
    'match': '(([a-z]|_|\\d)+:)'
    'name': 'variable other'
  },
	{
    'match': '^---$'
    'name': 'entity section'
  }
	{
    'match': '\{\{.*\}\}'
    'name': 'string interpolated'
  }
]
